alembic==1.0.7
asn1crypto==0.24.0
backcall==0.1.0
bleach==3.1.0
cchardet==2.1.4
certifi==2018.11.29
cffi==1.11.5
chardet==3.0.4
Click==7.0
cryptography==2.5
cycler==0.10.0
datapackage==1.5.1
decorator==4.3.2
defusedxml==0.5.0
entrypoints==0.3
et-xmlfile==1.0.1
Flask==1.0.2
Flask-Login==0.4.1
Flask-Migrate==2.4.0
Flask-Session==0.3.1
Flask-SQLAlchemy==2.3.2
Flask-WTF==0.14.2
gunicorn==19.9.0
idna==2.8
ijson==2.3
ipykernel==5.1.0
ipython==7.3.0
ipython-genutils==0.2.0
ipywidgets==7.4.2
isodate==0.6.0
itsdangerous==1.1.0
jdcal==1.4
jedi==0.13.3
Jinja2==2.10
jsonlines==1.2.0
jsonpointer==1.14
jsonschema==2.6.0
jupyter==1.0.0
jupyter-client==5.2.4
jupyter-console==6.0.0
jupyter-core==4.4.0
kiwisolver==1.0.1
linear-tsv==1.1.0
Mako==1.2.2
MarkupSafe==1.1.0
matplotlib==3.0.3
mistune==0.8.4
nbconvert==5.4.1
nbformat==4.4.0
notebook==5.7.6
numpy==1.16.2
openpyxl==2.4.11
pandas==0.24.1
pandocfilters==1.4.2
parso==0.3.4
pexpect==4.6.0
pickleshare==0.7.5
plotly==3.7.0
prometheus-client==0.6.0
prompt-toolkit==2.0.9
psycopg2==2.7.7
ptyprocess==0.6.0
pycparser==2.19
Pygments==2.3.1
pyOpenSSL==19.0.0
pyparsing==2.3.1
PySocks==1.6.8
python-dateutil==2.8.0
python-editor==1.0.4
pytz==2018.9
pyzmq==18.0.1
qtconsole==4.4.3
requests==2.21.0
retrying==1.3.3
rfc3986==1.2.0
scipy==1.2.1
seaborn==0.9.0
Send2Trash==1.5.0
six==1.12.0
SQLAlchemy==1.2.18
tableschema==1.3.0
tabulator==1.19.0
terminado==0.8.1
testpath==0.4.2
tornado==6.0.1
traitlets==4.3.2
unicodecsv==0.14.1
urllib3==1.24.1
validate-email==1.3
wcwidth==0.1.7
webencodings==0.5.1
Werkzeug==0.14.1
widgetsnbextension==3.4.2
WTForms==2.2.1
xlrd==1.2.0
