{% extends "layout.html" %}
{% block icon %}square{% endblock %}
{% block user %}My{% endblock %}
{% block title %}Chart Page{% endblock %}

{% block main %}
{% if patrick %}
<div style="padding-bottom:5px">Here is Patrick's chart</div>
{% elif map_list %}
<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" name='dropdown' type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Map: {{ current_map }}
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    {% for map in map_list %}
      <a class="dropdown-item{% if map == current_map %} active{% endif %}" href="/charts/{{ current_chart }}?m={{ map }}">{{ map }}</a>
    {% endfor %}
  </div>
</div>
<br>
{% endif %}
<br>
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
<img class="img-chart" src="{{ img }}" alt="">
<div id="chart" class="chart">
  <script>
        var graphs = {{ plot | safe }};
        Plotly.plot('bargraph',graphs,{});
  </script>
</div>

{% endblock %}
