{% extends "layout.html" %}

{% block icon %}diamond{% endblock %}

{% block title %}Sign In{% endblock %}

{% block main %}
<div class="content-section">
  <form action="/login" class="needs-validation" id="loginform" method="post">
    {{ loginform.hidden_tag() }}
      <fieldset class="form-group">
        <legend class="border-bottom mb-4">Sign in to your account</legend>
        <div class="form-group">
          {{ loginform.email.label(class="form-control-label")}}
          <div>
          {{ loginform.email(id="login_email", class="form-control form-control-lg", autocomplete="off", autofocus="")}}
          </div>
        </div>
        <div id="enter_email" class="invalid-feedback">Please enter your email address<p></p></div>
        <div id="invalid_email" class="invalid-feedback">Invalid email<p></p></div>
        <div class="form-group">
          {{ loginform.password.label(class="form-control-label")}}
          <div>
          {{ loginform.password(id="login_password", class="form-control form-control-lg")}}
          </div>
        </div>
        <div id="enter_password" class="invalid-feedback">Please enter your password<p></p></div>
        <div class="form-check">
          <div>
          {{ loginform.remember(class="form-check-input")}}
          </div>
          {{ loginform.remember.label(class="form-check-label")}}
        </div>
      </fieldset>
      <button id='button' class="btn btn-secondary" type="submit">Sign In</button>
      <small class="text-muted ml-2">
        <a href="">Forgotten your password? Click here</a>
      </small>
  </form>
</div>
<script src="static/scripts/login.js"></script>
{% endblock %}
