{% extends "layout.html" %}

{% block icon %}diamond{% endblock %}

{% block title %}
Sign In
{% endblock %}

{% block main %}
<div class="content-section">
  <form action="/login" class="needs-validation" id="form" method="post">
    {{ form.hidden_tag() }}
      <fieldset class="form-group">
        <legend class="border-bottom mb-4">Sign in to your account</legend>
        <div class="form-group">
          {{ form.email.label(class="form-control-label")}}
          <div>
          {{ form.email(class="form-control form-control-lg", autocomplete="off", autofocus="")}}
          </div>
        </div>
        <div id="5" class="invalid-feedback">Please enter your email address<p></p></div>
        <div id="6" class="invalid-feedback">Invalid email<p></p></div>
        <div class="form-group">
          {{ form.password.label(class="form-control-label")}}
          <div>
          {{ form.password(class="form-control form-control-lg")}}
          </div>
        </div>
        <div id="2" class="invalid-feedback">Please enter your password<p></p></div>
        <div class="form-check">
          <div>
          {{ form.remember(class="form-check-input")}}
          </div>
          {{ form.remember.label(class="form-check-label")}}
        </div>
      </fieldset>
      <button id='button' class="btn btn-primary" type="submit">Sign In</button>
      <small class="text-muted ml-2">
        <a href="">Forgotten your password? Click here</a>
      </small>
  </form>
</div>
<script src="static/scripts/login.js"></script>
{% endblock %}
