{% extends "layout.html" %}
{% block user %}{% if patrick %}Patrick's{% else %}My{% endif %}{% endblock %}
{% block title %}Map{% endblock %}
{% block icon %}{% if patrick %}double{% else %}diamond{% endif %}{% endblock %}

{% block main %}
{% if patrick %}
<div style="padding-bottom:5px">Here is Patrick's Holiday heat map</div>
{% elif map_list %}
<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" name='dropdown' type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Map: {{ current_map }}
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    {% for map in map_list %}
      <a class="dropdown-item{% if map == current_map %} active{% endif %}" href="/map?m={{ map }}&l={{ label }}">{{ map }}</a>
    {% endfor %}
  </div>
</div>
<br>
{% endif %}
<script src="https://www.amcharts.com/lib/4/core.js"></script>
<script src="https://www.amcharts.com/lib/4/maps.js"></script>
<script src="https://www.amcharts.com/lib/4/geodata/worldLow.js"></script>
<script src="https://www.amcharts.com/lib/4/themes/kelly.js"></script>
<script src="https://www.amcharts.com/lib/4/themes/animated.js"></script>
<div id="chartdiv"></div>
<script type="text/javascript">
var data = {{ data | tojson | safe }}
var label = {{ label | tojson | safe }}
</script>

<script type="text/javascript" src="static/scripts/amcharts.js"></script>
<br>
<div style="float:right" class="dropdown">
  <button class="btn btn-secondary btn-sm dropdown-toggle" name='labeldropdown' type="button" id="labelMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
  Units: {{ label }}
  </button>
  <div class="dropdown-menu" aria-labelledby="labelMenuButton">
    {% for l in label_list %}
    <a class="dropdown-item{% if label == l %} active{% endif %}" href="/{% if patrick %}patricksmap?{% else %}map?m={{ current_map }}&{% endif %}l={{ l }}">{{ l }}</a>
    {% endfor %}
  </div>
</div>
{% endblock %}
