{% extends "layout.html" %}
{% block user %}{% if patrick %}Patrick's{% else %}My{% endif %}{% endblock %}
{% block title %}Map{% endblock %}

{% block main %}
{% if patrick %}
Here is Patrick's Map
{% elif map_list %}
<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" name='dropdown' type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Map: {{ current_map }}
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    {% for map in map_list %}
      <a class="dropdown-item" href="/map?m={{ map }}">{{ map }}</a>
    {% endfor %}
  </div>
</div>
{% endif %}
<script src="https://www.amcharts.com/lib/4/core.js"></script>
<script src="https://www.amcharts.com/lib/4/maps.js"></script>
<script src="https://www.amcharts.com/lib/4/geodata/worldLow.js"></script>
<script src="https://www.amcharts.com/lib/4/themes/kelly.js"></script>
<script src="https://www.amcharts.com/lib/4/themes/animated.js"></script>
<div id="chartdiv"></div>
<script type="text/javascript">
var data = {{ data | tojson | safe }}
</script>
<script type="text/javascript" src="static/scripts/amcharts.js"></script>

{% endblock %}
