{% extends "layout.html" %}

{% block icon %}square{% endblock %}

{% block title %}Register{% endblock %}

{% block main %}
<div class="content-section">
  <form action="/register" class="needs-validation" id="form" method="post">
    {{ form.hidden_tag() }}
      <fieldset class="form-group">
        <legend class="border-bottom mb-4">Create an Account</legend>
        <div class="form-group">
          {{ form.username.label(class="form-control-label")}}
          <div>
            {{ form.username(class="form-control form-control-lg", autocomplete="off", autofocus="")}}
          </div>
        </div>
        <div id="duplicate_username" class="invalid-feedback">Username unavailable<p></p></div>
        <div id="invalid_username" class="invalid-feedback">Username must be between 2 and 20 characters<p></p></div>
        <div class="form-group">
          {{ form.email.label(class="form-control-label")}}
          <div>
            {{ form.email(class="form-control form-control-lg ", autocomplete="off")}}
          </div>
        </div>
        <div id="enter_email" class="invalid-feedback">User must provide email<p></p></div>
        <div id="invalid_email" class="invalid-feedback">Invalid email<p></p></div>
        <div id="duplicate_email" class="invalid-feedback">Email address already associated with an account<p></p></div>
        <div class="form-group">
          {{ form.password.label(class="form-control-label")}}
          <div>
            {{ form.password(class="form-control form-control-lg")}}
          </div>
        </div>
        <div id="enter_password" class="invalid-feedback">User must provide password<p></p></div>
        <div class="form-group">
          {{ form.confirm_password.label(class="form-control-label")}}
          <div>
            {{ form.confirm_password(class="form-control form-control-lg")}}
          </div>
        </div>
        <div id="password_match" class="invalid-feedback">Passwords must match<p></p></div>
        <button id='button' class="btn btn-secondary" type="submit">Register</button>
      </fieldset>
  </form>
</div>
<script src="static/scripts/register.js"></script>
{% endblock %}
