 @import url('https://fonts.googleapis.com/css?family=Gafata');

body {
  background-color: #fff
}


* {
	font-family: 'Galdeano', sans-serif !important;
}
a {
    outline: none;
}

nav {
  background-color:#5B2A66;
}
nav .navbar-brand {
    font-size: xx-large;

}
nav .navbar-brand:hover {
  background-color: inherit
}
.dropdown-content:hover .dropdown-content {
display: block;
}
li.dropdown ul, li.dropdown div {
  margin-top: 0px;
}
li.nav-link:hover {
  cursor:pointer;
}
.dropdown-toggle::after {
    display:none;
}
.btn-secondary {
  background-color:#5B2A66
}
a.dropdown-item.active {
  background-color:#5B2A66;
}
.btn-secondary:hover, .btn-secondary:focus, .btn-secondary:active, .btn-secondary.active {
  background-color:#764581;
}
.btn-hover {
  font-weight: normal;
  color: #333333;
  cursor: pointer;
  background-color: #411e48;
  border-color: transparent;
}

main .form-control {
    display: inline-block;
    width: auto;
}

main {
    margin-top: 70px;
    overflow-x: auto;
}

main img {
    max-width: 100%;
}

body {
  background: url('acatenango.png')no-repeat center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
main {
  background-color: white;
}

#chartdiv {
  width: 100%;
  height: 500px;
  padding-left: 1px;
  border: 1px solid #5B2A66;
}

.flag {
  max-width:19%;
  margin-bottom:5px;
  border:1px solid #aaa
}

.img-chart {
  max-width: 200%;
  min-width:600px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
footer {
  color:#ccc;
  margin-bottom:50px;
}
