{% extends "layout.html" %}

{% block icon %}
    square
{% endblock %}

{% block title %}
    Register
{% endblock %}

{% block main %}

<form action="/register" class="needs-validation" id="form" method="post">
    <div class="form-group" id="val">
        <input id="in" autocomplete="off" autofocus class="form-control" name="username" placeholder="Choose Username" required type="text">
    </div>
    <div id="1" class="invalid-feedback">Username unavailable<p></p></div>
    <div id="4" class="invalid-feedback">User must provide username<p></p></div>
    <div class="form-group">
        <input id="pw" class="form-control" name="password" placeholder="Choose Password" required type="password">
    </div>
    <div id="2" class="invalid-feedback">User must provide password<p></p></div>
    <div class="form-group">
        <input id="co" class="form-control" name="confirmation" placeholder="Retype Password" required type="password">
    </div>
    <div id="3" class="invalid-feedback">Passwords must match<p></p></div>
    <button id='button' class="btn btn-primary" type="submit">Register</button>

</form>
<ul id='ul'></ul>
<script type="text/javascript" src="register.js"></script>

{% endblock %}
